a {
    color: #56a5ce;
    text-decoration: none;
    font-family: gudea;
    font-size: 20px;
    line-height: 100%;
}
@font-face {
  font-family: 'Proxima Nova Soft';
  font-style: normal;
  font-weight: 400;
  src: url(ProximaNovaSoft-Regular.otf) format('woff2');
}

header{
    width: 100%;
}
.place-mid{    
    width: 85%;
    margin-left: 7.5%;
}



/***************** HEADER *****************/



#content-header{	
	height: 100%;
	margin-top: 3%;
    display: inline-block;
}
#content-header img{
	max-width: 24%;
	max-height: 24%;
	margin-left: 10px;
}
#logoli-hr{	
    width: 2px;
    background-color: #e9e9e9;
    display: inline-block;
    margin: 0 0 0 10%;
    padding-top: 6%;
}
#content-header ul{
	display: inline-block;	
    margin: 27px 0px 0px 7%;
    position: absolute;
}
#content-header ul li{
	display: inline-block;
	margin-left: 15px;
}
#content-header p{
	color: #8c8c8c;
    display: inline-block;
    margin-left: 15px;
    font-size: 1.3em;
}
.active{
	color: #2def10;
}
#header-hr{
	width: 100%;
    border-bottom: 1px solid #e9e9e9;
    margin-top: 8px
}



/***************** MAIN *****************/
.main{
    padding: 5px 0 30px 0;
}
.welcome{
    height: 450px;
}
.text{
    width: 88%;
    padding: 15% 0px 0px 45px;
}
.left{
    width: 63%;
    height: 100%;
    float: left;    
    font-family: "Proxima Nova Soft";
    color: #273f5b;
}
.left h1{
    font-weight: 600;
    line-height: 1.3em;
    font-size: 2.4em;
}
.left h3{
    line-height: 1.7em;
    font-size: 1.1em;
    padding-top: 25px;
}
.right{    
    width: 37%;
    height: 100%;
    float: right;
}
.content-right img{
    max-width: 100%;
    max-height: 100%;
    margin-top: 22%;
    border-radius: 15px;
}
.content-right button{
    width: 50%;
    height: 45px;
    background-color: #01a23c;
    font-size: 1.0em;
    border: none;
    color: white;
    font-family: "Proxima Nova Soft";
    margin-left: 25%;
}
.son{
    width: 100%;
}
.cards{
    padding: 40px 0 40px 0;
    width: 100%;
    background-color: #fbfbfb;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}
.row-card{
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
}
.row-card > div:nth-of-type(1){
    margin: 0;
}
.card{
    width: 100%;
    margin-left: 30px;
    background-color: #ebedef;
}
.topper{
    width: 100%;
    height: 200px;
    display: inline-block;
}
.img-back{
    width: 150px;
    height: 150px;
    margin: 25px auto auto auto;
    display: block;
    background-color: white;
    border-radius: 50%;
}
.topper img{
    display: block;
    margin: 0 auto 0 auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}
.botter{    
    width: 100%;
    height: 50%;
}
.botter > h1{
    font-family: Varela Round;
    color: #049e7e;
    font-size: 21px;
    margin-bottom: 20px;
    text-align: center;
}
.botter > p{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    line-height: 22px;
    font-family: Varela Round;
}
.contact{
    height: 450px;
}
.e{
    width: 35%;
    padding-top: 30px;
    float: left;
}
.e h1{
    font-family: 'Josefin Slab', serif;
    font-size: 60px;
}
.e p{
    margin-top: 25px;
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    line-height: 1.3em;
}
.d{
    height: 100%;
    width: 65%;
    float: right;
}
.d img{
    float: right;
    margin-top: 50px;
    max-height: 80%;
    max-width: 100%;
    border-radius: 15px;
}
.questions{
    width: 100%;
    padding: 30px 0 30px 0;
    background-color: #f1f1fa;
    box-shadow: 0 0 3px 3px #dddde5;
}
.questions h2{
    margin-left: 8%;
    color: #078dda; 
    font-size: 23px;
    font-family: "Proxima Nova Soft";
}
.questions-e{
    width: 40%;
    height: 300px;
}
.question{
    padding: 5px 0 5px 0;
    background-color: white;
    width: 80%;
    float: right;
}
